{% extends 'menu/index.html' %}

{% block container%}

{% if form_type == 'dish_creation' %}

    {#     Dish creation    #}
    <form action="{% url 'dish_creation'%}" method="POST" enctype = 'multipart/form-data'>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
    </form>

    {#     Dish Modification    #}
    {% elif form_type == 'dish_modification' %}
    <form action="{% url 'dish_modification' id %}" method="POST" enctype = 'multipart/form-data'>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
    </form>


    {#     Dish creation    #}
    {% else %}
    <p>dish deletion  {{ id }}</p>
{% endif %}
{% endblock container %}
