{% extends 'menu/index.html' %}

{% block container%}
    {% for i in messages %}
            <p>
            {{ i }}
            </p>
    {% endfor %}
<form action="{% url 'log_in'%}" method="POST" enctype = 'multipart/form-data'>
    {% csrf_token %}
    <p>username <input type="text" name="username" placeholder="username"></p>
    <p>password <input type="password" name="password" placeholder="password"></p>
    <br>
    <input type="submit" value="Login">
    <br>
    <br>
    <p>If you don't have an account please <a href="{% url 'user_creation' %}">sing up</a> here</p>
</form>
{% endblock container %}
